@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  // background-color: #f7f7f7;
  height: 100vh;
  background-color: blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  .homeBody {
    @include flexCenter();
    flex: 1;
    background: no-repeat center center ;
    background-size: cover;
    transition: 300ms;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    @keyframes fadeInOpacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .mainCard {
      height: 50%;
      width: 30%;
      background-color: #f7f7f7;
      border: 1px solid black;
      // @include flexCenter();
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      // align-items: space-between;

      .recipeLink {
        border: 1px solid lightgray;
        color: #f7f7f7;
        border-radius: 5px;
        background-color: firebrick;
        padding: 0.75rem;
        width: fit-content;
      }
    }
  }
}